<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /website_c6cf0a7f/frontend/

  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /website_c6cf0a7f/frontend/index.html [L]
</IfModule>
